.carts_box {
    display: flex;
}

.product_box-image {
    width: 30%;
}

.product_image {
    width: 100%;
}

.product_name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

.product_price {
    margin-bottom: 100px;
}

.product_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_button {
    margin-top: auto;
    text-align: center;
    width: 100%;
    cursor: pointer;
}